:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --purple-light: #9796f0;
  --gradient-light: #fbc7d4;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --white-alpha-10: rgba(255, 255, 255, 0.1);
  --backdrop-filter-blur: blur(5px);
}

/* ---Font--- */
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
/* 

/* ------------------------------Global CSS------------------------------ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--white-alpha-40);

  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--dark);
  line-height: 1.8;

  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--green-yellow);
  z-index: -1;
  opacity: 0.1;
}
.main-product {
  max-width: 95%;
  margin: auto;
}

.section {
  background-color: var(--white);
  border: 1px solid var(--white-alpha-40);
  min-height: 90vh;
  backdrop-filter: var(--backdrop-filter-blur);
}

.container-cover::-webkit-scrollbar {
  display: none;
}

.section::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 20px 20px;
  width: 100%;
}

.center {
  align-items: center;
  text-align: center;
}

/* ------------------------------Grid Layout------------------------------ */
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* ------------------------------Breadcrumb------------------------------ */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  /* background-color: #eee; */
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ------------------------------Pagination------------------------------ */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

/* ------------------------------Layout------------------------------ */
.menu-product {
  float: left;
  width: 20%;
  border: 1px solid;
  min-height: 160px;
}

.main {
  float: left;
  width: 80%;
  padding: 0 20px;
}

/* ------------------------------Menu Product------------------------------ */

.menu-product p {
  color: black;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.menu-product hr {
  margin: 5px;
}

.menu-product a {
  padding: 10px;
  display: flex;
  flex-direction: column;

  width: 80%;
  color: black;
  margin: auto;
  text-decoration: none;
}

/* ------------------------------MainContent------------------------------ */
.main-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* ------------------------------Custom Select------------------------------ */
select {
  padding: 10px;
  font-weight: bold;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  user-select: none;
}

/* ------------------------------List product------------------------------ */

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-items: center;
}

.product-grid > .product-item {
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: transform 0.3s;
}

.product-grid > .product-item:hover {
  transform: translateX(10px);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.product-item__text,
.product-item__price,
.product-item__image {
  padding: 10px;
}
.product-item__text {
  height: 120px;
}

.product-item__text h3 {
  color: black;
}
.product-item__price p {
  color: red;
}
.product-item__price i {
  color: #fff;
  background-color: #aaaaaa;
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* ------------------------------Button------------------------------ */

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*Colors*/
.btn-colorGreen {
  background-color: #4caf50;
} /* Green */
.btn-colorBlue {
  background-color: #008cba;
} /* Blue */
.btn-colorRed {
  background-color: #f44336;
} /* Red */
.btn-colorGray {
  background-color: #e7e7e7;
  color: black;
} /* Gray */
.btn-colorBlack {
  background-color: #555555;
} /* Black */

/*Size*/
.btn-sizeSmall {
  font-size: 10px;
  padding: 10px 24px;
}
.btn-sizeMedium {
  font-size: 12px;
  padding: 12px 28px;
}
.btn-sizeLarge {
  font-size: 16px;
  padding: 14px 40px;
}
.btn-sizeXLarge {
  font-size: 20px;
  padding: 32px 16px;
}

/* rounded */
.btn-rectangle {
  border-radius: 0px;
}
.btn-rounded {
  border-radius: 8px;
}
/* .btn-oval {border-radius: 50%;} */

.btn:hover {
  background-color: black;
  color: white;
}

.btn-oval {
  border-radius: 50%;
}

/* ------------------------------Responsive------------------------------ */
@media only screen and (max-width: 1460px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1120px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu-product,
  .main {
    width: 100%;
    margin: 10px 0;
  }

  .main-header {
    display: flex;
    justify-content: center;
  }

  .product-grid {
    grid-template-columns: repeat(1, 1fr);
    /* align-self: center; */
  }

  .product-item {
    align-items: center;
    margin: auto;
  }

  .product-item__text {
    width: 200px;
  }
}

@media only screen and (max-width: 360px) {
  .main-header {
    display: flex;
    flex-direction: column;
  }

  .custom-select {
    width: fit-content;
    margin-bottom: 10px;
  }
  select {
    width: 260px;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------Product-details-CSS----------------------------------------------------- */

.product-details {
  margin: auto;
  padding: 20px;
}
/* ----------------------------------------------Product-details-Slider----------------------------------------------------- */
.product-details__slider {
  float: left;
  width: 100%;
  border: 1px solid;
  min-height: 160px;
  background-color: white;
}

.product-details__slider p {
  color: black;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.product-details__slider hr {
  margin: 5px;
}

.product-details__slider a {
  padding: 10px;
  display: flex;
  flex-direction: column;

  width: 80%;
  color: black;
  margin: auto;
  text-decoration: none;
}

/* ----------------------------------------------product-details__content----------------------------------------------------- */
.product-details-cover {
  background-color: #fff;
  padding: 0px 50px;
}

.product-details__books {
  display: flex;
}

.product-details-img {
}

.product-details-infor {
  padding: 20px 50px;
  line-height: 3;
  color: black;
}

.product-details-infor h2 {
  font-weight: 600;
}

.product-details-btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 300px;
  padding: 5px 10px;
}

.product-details-description {
  margin: 10px 0px;
  color: black;
}

/* ------------------------------Responsive------------------------------ */

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  /* .product-details__menu,
  .product-details__content {
    width: 100%;
    margin: 10px 0;
  } */
  .product-details__books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-details-img {
  }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .product-details__menu,
  .product-details__content {
    width: 100%;
    margin: 10px 0;
  }
}
