


/*---------------------------------------------------*/


/*----------------------LOG IN/SIGN UP---------------------*/


/*---------------------------------------------------*/



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #f4f4f4;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.loginout {
    margin-top: 60px;
}
.loginout a{
    text-decoration: none;
}
.loginout a:hover {
    color: #00AFEF;
}

.loginout li {
    list-style: none;
}

.loginout .clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.loginout .row {
    max-width: 1140px;
    margin: 0 auto;
}
.loginout__container {
    width: 700px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #E5E5E5;
}

.loginout__tabs{
    background-color: white ;
    justify-content: center;
}
ul.loginout__tabs {
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
}

ul.loginout__tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 0px;
    cursor: pointer;
}
.nav-link{
    font-weight: bold;
    }
.nav-tabs .nav-link.active{
    color:#495057;
    border-color:#00afef #dee2e6 #fff;
    font-size: 100%;
}
.loginout__body{
    background: white;
}
.log_social {
    margin-top: 30px;
    display: inline-block;
}

.log_social li {
    margin-bottom: 20px;
    width: 225px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 5px;
}

.log_social li a {
    color: white;
}

.loginout__form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 80%;
    font-weight: bold;
    margin-top: 10px;
}
.loginout__input[type="radio"],
.loginout__input[type="checkbox"] {
margin: 4px 0 0;
margin-top: 1px \9;
line-height: normal;
}
.loginout__input[type="file"]:focus,
.loginout__input[type="radio"]:focus,
.loginout__input[type="checkbox"]:focus {
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
  
@media screen and (max-width: 650px) {
    .loginout__container{
        width:100%;
    }
    .login_social_btn{
    margin: auto;
    }
    .btn .btn-primary{
        margin: auto;
    }
}