


/*---------------------------------------------------*/


/*----------------------LOG IN/SIGN UP---------------------*/


/*---------------------------------------------------*/



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #f4f4f4;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.loginout {
    margin-top: 60px;
}
.loginout a{
    text-decoration: none;
}
.loginout a:hover {
    color: #00AFEF;
}

.loginout li {
    list-style: none;
}

.loginout .clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.loginout .row {
    max-width: 1140px;
    margin: 0 auto;
}
.loginout__container {
    width: 700px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #E5E5E5;
}

.loginout__tabs{
    background-color: white ;
    justify-content: center;
}
ul.loginout__tabs {
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
}

ul.loginout__tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 0px;
    cursor: pointer;
}
.nav-link{
    font-weight: bold;
    }
.nav-tabs .nav-link.active{
    color:#495057;
    border-color:#00afef #dee2e6 #fff;
    font-size: 100%;
}
.loginout__body{
    background: white;
}
.log_social {
    margin-top: 30px;
    display: inline-block;
}

.log_social li {
    margin-bottom: 20px;
    width: 225px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 5px;
}

.log_social li a {
    color: white;
}

.loginout__form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 80%;
    font-weight: bold;
    margin-top: 10px;
}
.loginout__input[type="radio"],
.loginout__input[type="checkbox"] {
margin: 4px 0 0;
margin-top: 1px \9;
line-height: normal;
}
.loginout__input[type="file"]:focus,
.loginout__input[type="radio"]:focus,
.loginout__input[type="checkbox"]:focus {
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
  
@media screen and (max-width: 650px) {
    .loginout__container{
        width:100%;
    }
    .login_social_btn{
    margin: auto;
    }
    .btn .btn-primary{
        margin: auto;
    }
}


/*---------------------------------------------------*/


/*----------------------ADMIN LOG IN---------------------*/


/*---------------------------------------------------*/

.ad-log{
    justify-content: center;
}
.ad-log__header{
    padding: 20px;
    text-align: center;
    
}
.ad-log__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    font-family: Helvetica;
}
.ad-log__form{
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.ad-log__title{
    color: #444;
    /*slider-demoweight: bold;*/
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.ad-log input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
}

.ad-log input+i.fa {
    color: #fff;
    /*slider-demosize: 1em;*/
    position: absolute;
    margin-top: -47px;
    left: 0;
    transition: all 0.1s ease-in;
}

.ad-log input:focus {
    outline: none;
    color: #444;
    border-color: #2196F3;
    border-left-width: 35px;
}

.ad-log input:focus+i.fa {
    left: 30px;
    transition: all 0.25s ease-out;
}

.ad-log a {
    /*slider-demosize: 12px;*/
    color: #2196F3;
    text-decoration: none;
}

.ad-log .ad-log__title {
    color: #444;
    /*slider-demoweight: bold;*/
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.ad-log button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #2196F3;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.ad-log:not(.loading) button:hover {
    box-shadow: 0px 1px 3px #2196F3;
}

.ad-log:not(.loading) button:focus {
    border-bottom-width: 4px;
}

