/*---------------------------------------------------*/


/*----------------------SETUP DEFAUT---------------------*/


/*---------------------------------------------------*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #f4f4f4;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
    background-color: #f4f4f4;
}

a:hover {
    text-decoration: none;
    color: #00AFEF;
}

li {
    list-style: none;
}


/* header {
    margin-bottom: 30px;
} */


/*---------------------------------------------------*/


/*----------------------REUSABLE COMONENT---------------------*/


/*---------------------------------------------------*/

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


/*---------------------------------------------------*/


/*----------------------HEADER---------------------*/


/*---------------------------------------------------*/

.cart-wish {
    padding-bottom: 25px;
}

.top-links li {
    float: left;
    list-style: none;
    margin: 5px;
    color: white;
}

.main-header {
    padding: 10px 35px 0px 35px;
    background-color: white;
}

.pr-header .btn-cart {
    display: block;
    width: 230px;
    height: auto;
    line-height: 33px;
    text-align: center;
    border-radius: 3px;
    color: #337ab7;
    margin-top: 0px;
    font-size: 18px;
    padding-top: 20px;
}

.pr .btn-cart {
    display: block;
    width: 220px;
    height: auto;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    color: white;
    background: #ff3945;
    /*margin-top: -10px;*/
    font-size: 18px;
    text-decoration: none;
}

.pr .btn-cart:hover {
    background: #ff6666;
}

.pr-header .btn-cart:hover {
    color: #ff3945;
}

.menu1 {
    padding-top: 35px;
}

.sapxep {
    margin-left: 500px;
}

.main-header .search-w input[type=text] {
    width: 300px;
    text-align: center;
    align-items: center;
}

.search-w {
    padding-top: 20px;
}

.main-header .search-w button {
    margin-right: -38px;
}

.logo image {
    position: relative;
    top: -30px;
}

.main-nav .container .row>li>a {
    font-size: 15px;
}

.bottom-bar {
    background-color: #2196F3;
    padding: 3px 0px;
    height: 50px;
}

.title-category {
    font-size: 20px;
    font-weight: 300;
    color: white;
    vertical-align: middle;
    position: relative;
    top: 10px;
    left: 20px;
    letter-spacing: 2px;
}

.title-contact {
    font-size: 16px;
    font-weight: 300;
    color: white;
    vertical-align: middle;
    position: relative;
    top: 10px;
    left: 20px;
}

.title-category i {
    margin-right: 10px;
}

.nav-link {
    color: white;
    font-size: 14px;
}


/*---------------------------------------------------*/


/*----------------------SLIDER CATE---------------------*/


/*---------------------------------------------------*/

.name_categories {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
}

.list_categories {
    position: relative;
    line-height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 10px;
}

.list_categories a {
    padding-left: 40px;
    color: black;
    font-size: 16px;
}

.list_categories>li {
    border-bottom: 2 px solid red;
}

.list_categories a:hover {
    color: #00AFEF;
}

.slide_body {
    background-color: white;
}

.item img {
    object-fit: cover;
    max-height: 430px;
    width: 100%;
}


/*---------------------------------------------------*/


/*----------------------LIST PRODUCT---------------------*/


/*---------------------------------------------------*/

.title-cate {
    text-transform: uppercase;
}

.sub-cate {
    position: relative;
    top: 25px;
    font-size: 16px;
}

.product-list {
    margin-top: 20px;
}

.list-book {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}

.product-item {
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
}

.product-item .image img {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    object-fit: cover;
    max-height: 300px;
    max-width: 210px;
}

.product-item .image .line {
    width: 20px;
    height: 2px;
    background: #f2532f;
    margin: -1px 0px 0px 0px;
}

.product-item .image .line1 {
    width: 20px;
    height: 2px;
    background: #f2532f;
    margin: -1px 0px 0px 0px;
}

.product-item:hover .image .line {
    transition: 2s;
    width: 91%;
}

.product-item:hover .image .line1 {
    transition: 2s;
    width: 100%;
}

.product-item .title a {
    font-size: 14px;
    font-weight: normal;
    color: black;
}

.price {
    color: red;
}

.product-item .title a:hover {
    color: #000;
}

.product-item .info ins {
    text-decoration: none;
    font-size: 16px;
    color: #f2532f;
}

.product-item .btn-cart {
    display: block;
    width: 35px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 2px;
    color: white;
    background: gray;
    margin-top: -10px;
}

.product-item .btn-cart:hover {
    background: #ff3945;
}

.info h5 {
    color: black;
    font-size: 16px;
}

.info h6 {
    color: #888;
}

.breadcrumb bread
/*---------------------------------------------------*/


/*----------------------Product right---------------------*/


/*---------------------------------------------------*/

.image-right img {
    object-fit: cover;
    max-width: 70px;
}

.list-news {
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
}

.product_box_right {
    padding-top: 20px;
}

.info-right h5 {
    color: black;
    font-size: 16px;
}


/*---------------------------------------------------*/


/*----------------------TÁC GIẢ---------------------*/


/*---------------------------------------------------*/

.book-special {
    background-color: #f6b915;
}

.book-body {
    color: white;
}

.sach {
    margin-bottom: 50px;
}

.avt-img img {
    object-fit: cover;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.content-book p {
    border-bottom: 1px solid white;
    border-bottom-style: dashed;
    padding-bottom: 20px;
    font-size: 16px;
}

.content-book h4 {
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: 7px;
}


/*---------------------------------------------------*/


/*----------------------NEWS---------------------*/


/*---------------------------------------------------*/

.post-new {
    background-color: white;
    margin-bottom: 50px;
    padding: 20px 0px;
}

.news-list h3 a {
    color: black;
}

.newsss {
    display: inline-block;
}

.cover-news {
    object-fit: cover;
    max-height: 200px;
}


/* style news*/

.post-new h4 a {
    color: black;
}

.post-new h4 a:hover {
    color: #00AFEF;
}

.article-wrapper-news {
    -moz-transition: width 0.4s;
    -o-transition: width 0.4s;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
}

article {
    position: relative;
    padding-left: 180px;
    padding-right: 75px;
    height: 150px;
    margin-bottom: 30px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    cursor: pointer;
}

article .img-wrapper-news {
    position: absolute;
    top: -10px;
    left: -10px;
    /* -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 10px; */
    padding: 10px;
    z-index: 1000;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

article .img-wrapper-news img {
    /* -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; */
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 150px;
}


/*article h1 {
  height: 75px;
  line-height: 75px;
  font-size: 24px;
  border-bottom: 2px solid #CDE;
  color: #428bca;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}*/

.hr-news {
    border-bottom: 1px solid #CDE;
    color: #428bca;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

article p {
    color: #888;
}

article a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 150px;
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-style: italic;
    opacity: 0;
    color: #428bca !important;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    text-shadow: 0 1px 1px #AAA;
}

article:hover .img-wrapper-news {
    padding: 5px;
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

article:hover .img-wrapper-news img {
    width: 160px;
}

article:hover a {
    opacity: 1;
}

.bloc article {
    padding: 10px;
    height: 225px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 75px;
}

.bloc article .img-wrapper-news {
    position: relative;
    top: -85px;
    width: 170px;
    left: inherit;
    margin: auto;
    margin-bottom: -100px;
}

.bloc article h1 {
    font-size: 14px;
    height: 37.5px;
    line-height: 37.5px;
}

.bloc article p {
    font-size: 12px;
}

.bloc article a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 255px;
}

.article-news {
    margin-bottom: 80px;
}

.article-news-detail {
    padding: 10px 40px;
    width: auto;
    border-radius: 25px;
}


/*.news-detail{
  background: gray;
  border-radius: 60px;
}*/


/*end style news*/


/*next page*/

.hh {
    list-style: none;
    padding: 8px;
}

.pagination-container {
    text-align: center;
    padding-top: 25px;
}

.aa {
    float: left;
    padding: 8px;
}


/*.pagination {
  
      position: relative;
}*/

.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 8px 16px 10px;
}

.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    border-radius: 24px;
    -webkit-transform: scale(0);
    transform: scale(0);
    padding: 8px;
    -webkit-transition: all 0.2s;
    transition: all 0.3s;
}


/* 
.pagination a:hover,
.pagination a .pagination-active {
    color: #fff;
}

.pagination a:hover:before,
.pagination a .pagination-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pagination .pagination-active {
    color: #fff;
}

.pagination .pagination-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
} */


/*end  next page*/


/*style contact*/

.google {
    border: 3px solid white;
}

.contact {
    max-width: 600px;
    text-align: center;
    margin: 0px auto;
}

.demo-contact {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    border-radius: 7px;
    padding: 20px 0px;
    margin-top: 20px;
}

.demo-contact form input,
form textarea {
    border: 1px solid #AAA;
    padding: 1em;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 1em;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

form input:focus,
form textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
}

form #input-submit-contact {
    color: white;
    background: #e74c3c;
    cursor: pointer;
}


/*form #input-submit-contact:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}*/

form textarea {
    height: 126px;
}

.half-contact {
    float: left;
    width: 48%;
    margin-bottom: 1em;
    padding-left: 7px;
}

@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}


/* Clearfix */

.contact:before,
.contact:after {
    content: " ";
    /*1*/
    display: table;
    /*2 */
}

.contact:after {
    clear: both;
}


/*end style contact*/


/* style login*/

.wrapper-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    font-family: Helvetica;
}

.login {
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login.loading button {
    max-height: 100%;
    padding-top: 50px;
}

.login.ok button {
    background-color: #8bc34a;
}

.login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
}

.login input+i.fa {
    color: #fff;
    /*slider-demosize: 1em;*/
    position: absolute;
    margin-top: -47px;
    left: 0;
    transition: all 0.1s ease-in;
}

.login input:focus {
    outline: none;
    color: #444;
    border-color: #2196F3;
    border-left-width: 35px;
}

.login input:focus+i.fa {
    left: 30px;
    transition: all 0.25s ease-out;
}

.login a {
    /*slider-demosize: 12px;*/
    color: #2196F3;
    text-decoration: none;
}

.login .title-login {
    color: #444;
    /*slider-demoweight: bold;*/
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.login button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #2196F3;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.login:not(.loading) button:hover {
    box-shadow: 0px 1px 3px #2196F3;
}

.login:not(.loading) button:focus {
    border-bottom-width: 4px;
}

.right a:hover {
    background-color: #337ab7;
    color: white;
}

.right a {
    font-size: 14px;
    display: block;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}

.pr {
    font-size: 14px;
    display: block;
}

.bread {
    font-size: 18px;
}

.touchspin {
    padding-left: 0px;
    padding-top: 5px;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

.trash>a:hover {
    color: red;
    text-decoration: none;
}

.nb {
    position: absolute;
    height: 18px;
    width: 18px;
    line-height: 18px;
    /*background-color: #46b29d;*/
    background: #ff6666;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    transition: transform 0.2s 0s;
}

.canhbao {
    font-size: 16px
}

.canhbao>a:hover {
    color: red;
}

th,
td {
    padding: 30px;
}

.kc {
    padding: 20px;
}


/*---------------------------------------------------*/


/*----------------------LOG---------------------*/


/*---------------------------------------------------*/

.log_body {
    margin-top: 60px;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #E5E5E5;
}

ul.tabs {
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: white;
    color: rgb(6, 135, 209);
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #E5E5E5;
    border-top: 3px solid #00AFEF;
    margin-bottom: -2px;
    margin-left: -1px;
    border-bottom: 2px solid white;
}

.tab-content {
    display: none;
    background: white;
    padding: 0px 30px;
    margin-bottom: 20px;
}

.tab-content.current {
    display: inherit;
    border-right: 1px solid #E5E5E5;
}

.log_social {
    margin-top: 30px;
}

.log_social li {
    margin-bottom: 20px;
    width: 240px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 5px;
}

.log_social li a {
    color: white;
}


/*---------------------------------------------------*/


/*----------------------Person---------------------*/


/*---------------------------------------------------*/

.person_page {
    width: 940px;
    margin: 0 auto;
}

.person_body {
    padding: 20px;
    background-color: white;
}

.avt {
    text-align: center;
}

.avt img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

.user_name {
    font-size: 150%;
    font-weight: 500;
    margin-bottom: 10px;
}

.right_info li {
    font-size: 120%;
    line-height: 30px;
}

.right_info li i {
    width: 35px;
    color: #a0a0a0;
}

.person_selling {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
}

.titlee {
    padding-bottom: 5px;
    border-bottom: 0.5px solid #E5E5E5;
    font-size: 18px;
}

.icon {
    font-size: 100px;
    color: #00AFEF;
    margin: 0 auto;
}

.des {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 20px;
    background-color: rgb(7, 164, 255, 0.3);
    border: 1px solid rgb(0, 143, 239);
    border-radius: 10px;
}


/*---------------------------------------------------*/


/*----------------------LOG---------------------*/


/*---------------------------------------------------*/

.log_body {
    margin-top: 60px;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #E5E5E5;
}

ul.tabs {
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: white;
    color: rgb(6, 135, 209);
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #E5E5E5;
    border-top: 3px solid #00AFEF;
    margin-bottom: -2px;
    margin-left: -1px;
    border-bottom: 2px solid white;
}

.tab-content {
    display: none;
    background: white;
    padding: 0px 30px;
    margin-bottom: 20px;
}

.tab-content.current {
    display: inherit;
    border-right: 1px solid #E5E5E5;
}

.log_social {
    margin-top: 30px;
}

.log_social li {
    margin-bottom: 20px;
    width: 240px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 5px;
}

.log_social li a {
    color: white;
}


/*---------------------------------------------------*/


/*----------------------edit personal---------------------*/


/*---------------------------------------------------*/

.edit-person {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #E5E5E5;
    background-color: white;
    padding-bottom: 20px;
}

.edit-title {
    font-size: 18px;
    padding: 10px 20px;
    border-bottom: 1px solid #CDE;
    margin-bottom: 20px;
    font-weight: 500;
}